{% extends 'base.html' %}
{% load static %}

<body>
    <main id="standard_coffee">        
        <div class="container px-2 px-lg-0">
            <!-- Featured Project Row-->
            <h2>
            <p class="text-black-50 mb-0 text-center">{coffee.name}</p>
            </h2>
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{coffee.coffee_image}}" alt="..." /></div>
            </div>
        </div>
    </main>
</body>